
body { 
	background-image: url("fondoSentinel2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	}

#map { 
  	/* position: absolute; 
	top: 0; 
	bottom: 0;  */
	width: 500px; 
	height: 700px; 
	border: 4.5px solid #b3c5db;
	/* margin-top: 5.67em; */
	margin-left: 2.67em;
	}

h1 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	display: block;
	font-size: 46px;
	color: #f1ebe5;
	text-shadow: 0 3px 4px #c4b59d, 0px -2px 1px #fff;
	font-weight: bold;
	letter-spacing: -4px;
	/* position: absolute; */
	/* padding: 100px 200px; */
	/* top: 3%;
	left: 20%; */
	/* transform: translate(-50%,-50%); */
	border-radius: 20px;
	padding-left: 180px;
	}

textarea {
	width: 330px;
	height: 260px;
	
}

#myProgress {
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #ddd;
  }

  #myBar {
	position: absolute;
	width: 10%;
	height: 100%;
	background-color: #4CAF50;
  }

  #label {
	text-align: center;
	line-height: 30px;
	color: white;
  }

  [hidden] {
	display: none !important;
  }

  .img
{
    display: inline-block;
    width: 512px;
    height: 512px;
    position: absolute;
	  top: 322px;
    left: 955px;

}

  .video
{
    display: inline-block;
	  position: absolute;
	  top: 2px;
    left: 928px;

}




/*Estilos de la galeria*/

.galeria {

	margin: auto;
	list-style: none;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.galeria li {


}

.galeria img {
	width: 32px;
	height: 32px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {

	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen {
	width: 100%;
	height: 85%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
	width: 824px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
	justify-content: space-around;
	margin: 0 10px;
}

.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}


