
body { 
	background-image: url("fondoSentinel2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	}

#map { 
  	/* position: absolute;
	top: 0;
	bottom: 0;  */
	width: 520px;
	height: 790px;
	border: 4.5px solid #b3c5db;
	/* margin-top: 5.67em; */
	margin-left: 2.67em;
	}

h1 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	display: block;
	font-size: 46px;
	color: #f1ebe5;
	text-shadow: 0 3px 4px #c4b59d, 0px -2px 1px #fff;
	font-weight: bold;
	letter-spacing: -4px;
	border-radius: 20px;
	padding-left: 70px;
	}


h2 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;

	font-size: 16px;
	color: #5a5858;

	}

textarea {
	width: 380px;
	height: 210px;
	
}

#myProgress {
	position: relative;
	width: 90%;
	height: 30px;
	background-color: #ddd;
  }

  #myBar {
	position: absolute;
	width: 10%;
	height: 100%;
	background-color: #4CAF50;
  }

  #label {
	text-align: center;
	line-height: 30px;
	color: white;
  }

  [hidden] {
	display: none !important;
  }
