
body { 

  background-image: url("fondoSentinel2a.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}

#map { 
  
position: absolute; 
top: 0; 
bottom: 0; 
width: 35%; 
height: 65%; 
border: 4.5px solid #b3c5db;
margin-top: 5.67em;
margin-left: 2.67em;
}


